/* font */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Inter', sans-serif;
  }
  .navbar{
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px; /*chnage*/
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid white;
  }
  
  .logo{
    font-weight: 700;
  }
  a{
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  .main-conatiner{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.proile-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pass-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    outline: none;
}

h1{
    align-self: center;
}

#logout-btn, #changepass-btn, #saveInfo-btn {
    max-width: 148px;
    border: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.err-old, .newpass-mismatch{
    color: red;
    display: none;
}

.pass-changed{
    color: #30bb47;
    display: none;
}

.infoSaved-mess{
    color: #30bb47;
    display: none;
}